= simple_form_for(@post) do |f|
  = render 'shared/error_messages', :target => @post

  .inputs
    = f.input :title
    = f.input :sequence
    = f.label :description
    = f.text_area :description, :input_html => {:rows =>5}

    = f.simple_fields_for :sections do |section_f|
      .section
        %h2 Section
        = section_f.input :heading
        = section_f.label :body
        = section_f.text_area :body, :input_html => {:rows =>5}
        = section_f.input :position
        
  .actions
    = f.button :submit