= simple_form_for(@post) do |f|
  = render 'shared/error_messages', :target => @post

  .inputs
    = f.input :title
    = f.input :sequence
    = f.label :description
    = f.text_area :description, :input_html => {:rows =>5}

  .actions
    = f.button :submit